body {
  background: radial-gradient(circle at 20% 15%, rgba(223, 177, 131, 0.5), transparent 60%),
  radial-gradient(circle at 80% 30%, rgba(143, 117, 92, 0.4), transparent 70%),
  linear-gradient(to bottom, #d2b891, #b7986d, #d0ae85), url(images/stains.png);
  background-position: top;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  padding-bottom: 10svh;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

#quotes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 25px;
}

.quote-block {
  background-color: #f8f8f4;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  flex: 0 1 auto;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  box-shadow: 2px 2px 8px transparent;
  transform: scale(0);
  opacity: 0.32;
  will-change: box-shadow, scale, transform, opacity;
  transition: box-shadow 250ms ease-in-out, scale 250ms ease-in-out;
  animation: quote-reveal linear forwards;
  animation-timeline: view(block);
  animation-range: entry-crossing calc(0% - 10svh) entry-crossing calc(100% + 10svh);
}

.card-top {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.toggle-icon {
  cursor: pointer;
  padding-left: 10px;
}

.toggle-icon:hover {
  color: gray;
}

body.dark .toggle-icon {
  color: #eee8e1;
}

body.dark .toggle-icon:hover {
  color: gray;
}

.card-bottom {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quote-block:hover {
  box-shadow: 3px 3px #44423f;
  background-color: rgb(237, 229, 225);
}

body.dark .quote-block:hover {
  box-shadow: 3px 3px #989796;
}

@keyframes quote-reveal {
  0% {
    transform: scale(0) translateX(-50%) translateY(-100%);
    opacity: 0;
  }

  25% {
    transform: scale(0.25) translateX(-50%) translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: scale(1) translateX(0) translateY(0%);
    opacity: 1;
  }
}

.quote-text {
  font-size: 1.2em;
  color: #333;
}

.quote-author {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.quote-source {
  font-size: 0.9em;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
  color: #666;
}

.mode-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mode-icon {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

.icons-container {
  display: none;
}

.icons-wrapper {
  position: absolute;
  top: 50px;
  right: 8px;
  display: flex;
  padding: 10px;
  background-color: rgb(237, 229, 225);
  box-shadow: 10px 10px 81px 0px rgba(152, 151, 150, 0.75);
  -webkit-box-shadow: 10px 10px 81px 0px rgba(152, 151, 150, 0.75);
  -moz-box-shadow: 10px 10px 81px 0px rgba(152, 151, 150, 0.75);
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px;
}

body.dark .icons-wrapper {
  background-color: #484e52;
}

.icon {
  cursor: pointer;
  font-size: 1.2em;
}

.icon:hover {
  color: gray;
}

body.dark .icon {
  color: #eee8e1;
}

body.dark .icon:hover {
  color: gray;
}

body.dark {
  background: linear-gradient(to bottom, #000000, #1a1a4b, #4b0082, #000d33), url('images/stars.png');
  background-position: center;
  background-blend-mode: overlay;
}

body h2 {
  color: black; /* Light mode: Set h2 color to black */
}

body.dark h2 {
  color: #ddd; /* Dark mode: Keep the existing color */
}

body.dark .quote-block {
  background-color: #484e52;
}

body.dark .quote-text {
  color: #e3cdb3;
}

body.dark .quote-author,
body.dark .quote-source {
  color: #ebdfd1;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #fff;
  box-shadow: #333 0px 0px 10px;
  color: white;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.3s;
}

#back-to-top:hover {
  background-color: #f1f1f1;
  transform: translateY(-5px);
}

.liked {
  color: red;
}

body.dark .liked {
  color: red;
}

.liked:hover {
  color: red;
}

body.dark .liked:hover {
  color: red;
}

.bubble {
  position: absolute;
  background-color: rgba(221, 236, 240, 0.3);
  border-radius: 50%;
  pointer-events: none;
  animation: moveUp 5s linear infinite;
  z-index: -1;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200vh);
  }
}

footer {
  background-color: #f8f8f79e;
  padding: 20px 0;
  margin-top: 30px;
  text-size-adjust: bold;
  border: rgb(228, 190, 124) 2px;
  text-align: center;
  border-radius: 12px;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  max-height: 300px;
}

.footer-container h3 {
  margin-bottom: 10px;
  font-family: 'Merriweather', serif;
  text-size-adjust: bold;
}

.footer-link {
  color: #333;
  text-decoration: none;
}

.footer-link i {
  margin-right: 8px;
}

.footer-link:hover {
  color: #000000;
  text-decoration: none;
  transition: 0.1s ease;
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  #quotes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  #quotes-container {
    grid-template-columns: 1fr;
  }

  .quote-block {
    padding: 10px;
  }

  .quote-text {
    font-size: 1em;
  }

  .quote-author {
    font-size: 0.9em;
  }

  .quote-source {
    font-size: 0.8em;
  }
}

#tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 6px;
}

#tags .tag {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
