body {
  background-color: #ebebeb;
  background-image: url(images/waves.svg);
  background-size: 150px;
  padding: 20px;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

#quotes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
}

.quote-block {
  background-color: #fff;
  border: 2px solid #fff;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 0 1 auto;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  padding-right: 80px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .quote-block:hover {
  box-shadow: 3px 3px #989796;
  background-color: rgb(237, 229, 225);
  border: 2px solid rgb(237, 229, 225);
  }

.quote-text {
  font-size: 1.2em;
  color: #333;
}

.quote-author {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.quote-source {
  font-size: 0.9em;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
  color: #666;
}

.mode-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mode-icon {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

body.dark {
  background-color: #333;
}

body.dark .quote-block {
  background-color: #555;
  border-color: #777;
}

body.dark .quote-text {
  color: #f1f1f1;
}

body.dark .quote-author,
body.dark .quote-source {
  color: #ddd;
}


body.dark .heading-text{
    color: #ddd;
}

.icons-container {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  gap: 10px;
}
.icon {
  cursor: pointer;
  font-size: 1.2em;
}

