body {
  background: radial-gradient(circle at 20% 15%, rgba(223, 177, 131, 0.5), transparent 60%),
  radial-gradient(circle at 80% 30%, rgba(143, 117, 92, 0.4), transparent 70%),
  linear-gradient(to bottom, #d2b891, #b7986d, #d0ae85), url(images/stains.png);
  background-position: top;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  padding-bottom: 10svh;
}

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

#quotes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 25px;
}

.quote-block {
  background-color: white;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  flex: 0 1 auto;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  box-shadow: 2px 2px 8px transparent;
  transform: scale(0);
  opacity: 0.32;
  will-change: box-shadow, scale, transform, opacity;
  transition: box-shadow 250ms ease-in-out, scale 250ms ease-in-out;
  animation: quote-reveal linear forwards;
  animation-timeline: view(block);
  animation-range: entry-crossing calc(0% - 10svh) entry-crossing calc(100% + 10svh);
}

.card-top {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.toggle-icon {
  cursor: pointer;
  padding-left: 10px;
}

.toggle-icon:hover {
  color: gray;
}

body.dark .toggle-icon {
  color: #eee8e1;
}

body.dark .toggle-icon:hover {
  color: gray;
}

.card-bottom {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quote-block:hover {
  box-shadow: 3px 3px #44423f;
  background-color: rgb(237, 229, 225);
}

body.dark .quote-block:hover {
  box-shadow: 3px 3px #989796;
}

@keyframes quote-reveal {
  0% {
    transform: scale(0) translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  25% {
    transform: scale(0.25) translateX(-50%) translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(0) translateY(0%);
    opacity: 1;
  }
}

.quote-text {
  font-size: 1.2em;
  color: #333;
}

.quote-author {
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}

.quote-source {
  font-size: 0.9em;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
  color: #666;
}

.mode-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mode-icon {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
}

.icons-container {
  display: none;
}

.icons-wrapper {
  position: absolute;
  top: 50px;
  right: 8px;
  display: flex;
  padding: 10px;
  background-color: rgb(237, 229, 225);
  box-shadow: 10px 10px 81px 0px rgba(152,151,150,0.75);
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px;
}

body.dark .icons-wrapper {
  background-color: #292828;
}

.quote-image {
  display: flex;
  justify-content: center;
}

body.dark .quote-block {
  background-color: #292828;
}

select#tags {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #4A90E2;
  border-radius: 30px;
  background-color: #f4f4f4;
  color: #333;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

select#tags:hover {
  background-color: #e2e8f0;
  color: #000;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark h2 {
  color: #ddd;
}

#back-to-top:hover {
  background-color: #e2e8f0;
  border-radius: 50%;
}

div[style*="justify-content: space-between"] {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
